body {
  display: flex;
  flex-direction: column;;
  align-items: center;
  justify-content: center;
  background: #717D98;

}

header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
}

.logo {
  color: white;
  font-size: 40px;
  font-family: 'Bungee', cursive;
  background: -webkit-radial-gradient(#00CECB, #00CECB, #0C6291);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.logo:before {
  content: "COMPARED";
  position: absolute;
  top: 10;
  left: 10;
  z-index: -1;
  text-shadow: 1px 1px #318790;
}

.linkedin-icon {
  position: relative;
}

.linkedin-sq {
  color: #717D98;
}
.linkedin {
  color: #fff;
  font-size: 30px;
}

.linkedin-icon:hover .linkedin-sq {
  color: #1177B5;
}

.linkedin-icon:active {
  top: 1px;
}

.github-icon {
  position: relative;
}

.github-sq {
  color: #717D98;
}

.github {
  color: #fff;
  font-size: 30px;
}

.github-icon:hover .github {
  color: #0e0e0e;
}

.github-icon:active {
  top: 1px;
}

.angel-icon {
  position: relative;
}

.angel-sq {
  color: #717D98;
}

.angel {
  color: #cccccc;
  font-size: 30px;
}

.angel-icon:hover .angel {
  color: #0e0e0e;
}
.angel-icon:active {
  top: 1px;
}

h1 {
  font-size: 16px;
  font-weight: bold;
  
}

h2 {
  font-size: 16px;
}

.main {
  width: 95vw;
  height: 90vh;
  min-height: 800px;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.main-left {
  display: flex;
  align-items: center;
  width: 400px;
  background: #70798C;
  background: #E5ECF4;
  border-radius: 15px;
  color: #39393A;
}

.main-left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 0px 20px;
}

.instructions > ol{
  list-style: decimal outside;
}

.instructions li {
  margin: 5px 0px;
  text-decoration: underline;
}

.this-is-you {
  display: inline-block;
}

.this-is-you svg {
  margin: 0px 2px;
}

.this-is-you rect,
.cells rect {
  fill: #04E762;
  opacity: 0.8;
}

.cells rect:hover {
  opacity: 1;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.user-info label {
  font-size: 12px;
  margin-bottom: 5px;
}

.user-info input {
  font-size: 12px;
  width: 65%;
  padding: 5px;
  margin-top: 3px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.benchmark {
  margin-left: 5px;
}
.benchmark > select {
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.this-is-else {
  margin-top: 5px;
}

.compare-img {
  width: 270px;
  height: 180px;
  border-radius: 10px;
  border: none;
  transition: 0.8s;
}

.compare-img:hover{
  cursor: pointer;
  transform: scale(1.02);
}

.buttons {
  font-size: 11px;
  font-style: italic;
}

.buttons > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px;
}

button {
  cursor: pointer;
  border-radius: 8px;
  padding: 7px 10px;
  border: none;
  position: relative;
  color: white;
  text-shadow: 1px 1px 0 #318790;
}

button:hover {
  opacity: 0.7;
}

button:active {
  top: 2px;
  left: 2px;
  box-shadow: none;
  opacity: 1;
}

.visualize-button {
  background: #00CECB;
  box-shadow: 2px 2px #0C6291;
}

.grow-button {
  background: #0C6291;
  box-shadow: 2px 2px #00CECB;
}

.tvm {
  min-height: 40px;
}

.main-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.main-right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.blocks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 100%;
  overflow: auto;
  box-sizing: content-box;
}

.blockChart {
  min-width: 5000%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* min-height: 940px; */
}

.blockChart > div {
  display: flex;
}

.selfDivs, .compareDivs {
  min-height: 250px;
}
.selfDiv {
  background: white;
}

.compareDiv {
  background: #04E762;
}

.lineChart {
  width: 100%;
  height: 100%;
}

.errors {
  color: red;
  height: 40px;
}

.graphline {
  stroke: #04E762;
  stroke-width: 2px;
  fill: none;
  stroke-dasharray: 200%;
  stroke-dashoffset: 200%;
  animation: dash 4s linear 1s forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 200%;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.axis path {
  stroke: #E5ECF4;
  stroke-width: 2px;
  fill: none;
}
.axis line{
  stroke: #E5ECF4;
}
.axis text {
  fill: #E5ECF4;
  font-size: 1.5em;
}

.grid line {
  stroke: lightslategray;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.y1, .y2, .y3, .y4 {
  font-size: 14px;
  fill: #04E762;
}
