body {
  display: flex;
  flex-direction: column;;
  align-items: center;
  justify-content: center;
  /* padding: 30px; */
}

.main {
  width: 95%;
  /* height: 1500px; */
  height: 95vh;
  display: flex;
  background: #F2F2F2;
  border: none;
  border-radius: 15px;
}

.main-left {
  display: flex;
  align-items: center;
  width: 200px;
  min-width: 200px;
}

.main-left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 85%;
  padding: 20px 20px 20px 10px;
  border-right: 1px solid slategray;
}

.summary {
  font-size: 14px;
}

#user-form {
  display: flex;
  flex-direction: column;
}

#user-form input {
  width: 75%;
  padding: 5px 5px 5px 7px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}

.user-compare > select {
  margin-top: 10px;
}

.main-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-right-header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 15px;
}
.this-is-you {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#user-worth {
  margin-top: 20px;
}

.this-is-you > svg {
  margin-top: 20px;
}

.this-is-else {
}

.compare-img {
  border-radius: 10px;
  border: none;
}

.main-right-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.blocks {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  /* border: 1px solid black; */
  overflow: scroll;
}

.blocks > svg {
  min-width: 5000%;
  min-height: 165%
}

rect {
  fill: green;
}